/*--------------------------------------------------------------
  ## top-bar
--------------------------------------------------------------*/

.top-bar{
  background-color: $primary-color;
  text-align: center;
  padding: 18px 0px;
  border-bottom: 2px solid #000;
  @media only screen and (max-width: 991px) {
    display: none;
  }
  .nav-imag{
    img{
      height: 48px;
    }
  }
}



/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.navbar-area {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  @media only screen and (max-width: 991px) {
    background-color: $primary-color;
    border-bottom: 2px solid #000;
  }
}

.navbar {
  padding: 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
  padding: 30px 0;

  @media only screen and (max-width: 991px) {
    padding: 20px 0;
  }

  @media (max-width: 767px) {
    padding: 16px 0;
  }
  @media (max-width: 482px) {
    padding: 12px 0;
  }

  .nav-center {
    @media (min-width: 992px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .navbar-brand {
    padding: 0;
    text-decoration: none;
    img {
      height: 48px;
      transition: all 0.4s ease-in-out;
      @media only screen and (max-width: 991px) {
        height: 44px;
      }
      @media only screen and (max-width: 767px) {
        height: 40px;
      }
      @media only screen and (max-width: 482px) {
        height: 35px;
      }
    }
  }

  .navbar-nav {
    /** Large devices (desktops, 992px and up) **/
    @media (min-width: 992px) {
      align-items: center;
    }

    .nav-item {
      position: relative;
      margin-right: 45px;
    

      &:last-child {
        margin-right: 0;
       
      }
      @media only screen and (max-width: 991px) {
        margin-left: 16px;
      }



      a {
        text-decoration: none;
        font-size: 17px;
        color: $text-color;
        transition: all 0.3s ease-out 0s;
        padding: 10px 0;
        position: relative;
        font-weight: 700;
        @media only screen and (max-width: 991px) {
          color: $text-color;
          font-size: 15px;
        }
        &:hover,
        &.active {
          color: #62a6d9;
        }

        @media only screen and (max-width: 991px) {
          display: inline-block;
          margin: 4px 0px;
          padding: 6px 0;
        }
        @media only screen and (max-width: 767px) {
          display: inline-block;
          padding: 6px 0;
        }
      }
    }

   
  }

  .navbar-collapse {
    @media only screen and (max-width: 991px) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
      padding: 15px 12px 20px 12px;
    }

    @media only screen and (max-width: 767px) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      box-shadow: 0 15px 20px 0 rgba(43, 56, 109, 0.1);
    }
  }

  .navbar-toggler {
    padding: 0;
    border: 0;
    &:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .toggler-icon {
      width: 30px;
      height: 3px;
      border-radius: 6px;
      background-color: #000;
      display: block;
      margin: 5px 0;
      position: relative;
      -webkit-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
    }

    &.active .toggler-icon {
      &:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 7px;
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        top: -7px;
      }
    }
  }
  .dropdown-toggle {
    background: linear-gradient(103.39deg, #749bff 17.02%, #62a6d9 127.4%);
    padding: 7px 18px !important;
    border-radius: 7px;
    transition: all 0.2s ease-in;
    &:hover {
      color: #fff !important;
    }
    @media only screen and (max-width: 991px) {
      margin-top: 10px !important;
    }
  }
  .dropdown-menu {
    background: #001728;
    border: 1.5px solid #a1b6ff;
    padding: 18px 0px;
    border-radius: 10px;
    @media only screen and (max-width: 991px) {
      max-width: 160px;
    }
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    a {
      padding: 4px 13px !important;
      text-decoration: none;
      color: $text-color;
      font-size: 13px !important;
      font-weight: 400;
      transition: all 0.3s ease-in;
      display: flex;
      align-items: center;
      img {
        height: 15px;
        margin-right: 12px;
        min-width: 23px;
      }
      &:hover,
      &:focus {
        background-color: #000;
        color: $primary-color;
      }
      @media only screen and (max-width: 991px) {
        margin: 0px 0px !important;
      }
    }
  }
}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: $bg-white;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  
  .navbar {
    padding: 25px 0px;
    @media only screen and (max-width: 991px) {
      padding: 20px 0;
    }
  
    @media (max-width: 767px) {
      padding: 16px 0;
    }
    @media (max-width: 482px) {
      padding: 12px 0;
    }
  

    .navbar-brand {
      padding: 0;
      text-decoration: none;
      img {
        height: 44px;
        transition: all 0.4s ease-in-out;
        @media only screen and (max-width: 991px) {
          height: 44px;
        }
        @media only screen and (max-width: 767px) {
          height: 40px;
        }
        @media only screen and (max-width: 482px) {
          height: 35px;
        }
      }
    }

    
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.animate {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(1.1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1.1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
