@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$bg-white: #ffffff;
$bg-yellow: #fffcb3;
$bg-nav-collapse: #000;
$primary-color: #fffcb3;
$text-color: #000;
$title-color: #000;
